<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Random Group 7 (floorIsLava)
IDs: s3979298,s3924310,s3978216,s3981278,s3979290
Acknowledgement: Acknowledge the resources that you use here. -->

<header>
  <div class="container">
    <nav>
      <a href="/home" class="logo text-decoration-none"><img src="https://www.pearlwhitemedia.com/wp-content/uploads/2017/11/e-commerce.png" alt=""> ShoppeeFake</a>
      <ul>
        <!-- NO ROLES  -->
        <% if (!user) { %> 
          <li><a href="/login" class="btn">Login</a></li>
          <li><a href="/register" class="btn">Register</a></li>
        <!-- CUSTOMER, VENDOR, SHIPPER  -->
        <% } else { %>
          
          <li><%- include('search') %></li>
          <% if (user.role === 'customer') { %>
            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
          <% } %>
          <li><a href="/myAccount"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
          <li>
            <a href="/logout" class="btn">Logout</a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>

