<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Random Group 7 (floorIsLava)
IDs: s3979298,s3924310,s3978216,s3981278,s3979290
Acknowledgement: Acknowledge the resources that you use here. -->

<div class="input-box">
    <form action="/search" method="GET">
      <input type="text" name="query" placeholder="Search here..." />
      <button type="submit" class="button"><i class="fa fa-search"></i></button>
    </form>
</div>
