<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Random Group 7 (floorIsLava)
IDs: s3979298,s3924310,s3978216,s3981278,s3979290
Acknowledgement: Acknowledge the resources that you use here. -->

<!-- Role Selection -->
<section class="user-registration">
  <div class="container">
    <div class="registration-box">
      <h2>CREATE SHOPPEEFAKE'S ACCOUNT</h2>
      <h3>What type of user are you?</h3>
      <form action="/role-selection" method="get">
        <label for="role"><h2>Select a Role:</h2></label>
        <select name="role" id="role">
          <option value="customer">Customer</option>
          <option value="vendor">Vendor</option>
          <option value="shipper">Shipper</option>
        </select>
        <button type="submit" class="continue-button">Continue</button>
      </form>
      <p>Already register? <a href="">Click here to login.</a></p>
    </div>
  </div>
</section>