<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Random Group 7 (floorIsLava)
IDs: s3979298,s3924310,s3978216,s3981278,s3979290
Acknowledgement: Acknowledge the resources that you use here. -->

<section class="help">
    <div class="container">
        <h1>How can we help you?</h1>
        <h3>How to Track a Package</h3>
        <p>If the seller used a delivery company that is directly supported by Etsy and has added a tracking number, you’ll see a Track Package button next to the order on your Purchases page. Select Track Package to see detailed information about your package’s status.
          <br>You can also see delivery information in the dispatch notification emails for your order. Select Track Package in the email notification to view the status of your delivery.
          <br>f your seller used a delivery company not supported by Etsy, but has provided a tracking number for the order, you can find it by selecting View Receipt next to the order on your Purchases page. 
          <br>Some international or cross-border packages won’t show tracking once the order leaves the departing country. The tracking status should update when the package arrives in the destination country.
        </p>
        <br>
        <h3>How to Contact a Shop About an Order</h3>
        <ol>
          <li>Sign in to your account.</li>
          <li>Go to Purchases and reviews.</li>
          <li>Select Help with order next to the order.</li>
          <li>Select Message Seller.</li>
          <li>In the text box that appears, let the seller know what you'd like to return or exchange an item.</li>
          <li>Select the arrow icon or select Enter to send. The seller will be notified of the new message and can respond.
          </li>
        </ol>
        <br>
        <h3>Tips for Buying Safely on Our Website</h3>
        <h5>Credit card safety</h5>
        <ul>
          <li>Never give your full credit card number, tax identification number, or password in an email, Etsy Message, or over the phone.</li>
          <li>If you are making a transaction in person, do not speak your credit card information aloud. Be sure to sign for the transaction and request a receipt.</li>
          <li>Check your credit card statement regularly to track your spending and card activity.</li>
          <li>Keep track of your credit card: who is authorised to use it, and who has access to it.</li>
        </ul>
        <h5>Internet/Computer safety</h5>
        <ul>
          <li>Change your passwords on a regular basis. The more complex a password is, the better you’re protected.</li>
          <li>If you share your computer or device, sign out of any website accounts before letting others use it.</li>
        </ul>
    </div>
    <br><br>
    <p>Source: https://www.etsy.com/ca/about</p>
</section>